
.icon-text {
  display: flex; /* Alinea el ícono y el título en la misma línea */
  align-items: center; /* Alinea verticalmente ícono y título */
  gap: 12px; /* Aumenta el espacio entre el ícono y el título */
  margin-bottom: 4px; /* Espaciado inferior */
}

.icon-text ion-icon {
  font-size: 30px; /* Tamaño del ícono */
  color: #007bff; /* Color del ícono */
  margin-top: 4px; /* Ajusta el ícono para que esté centrado con el texto */
}

.icon-text strong {
  font-size: 16px; /* Tamaño del título */
  color: #333; /* Color del título */
}

.icon-text ul {
  list-style-type: disc; /* Puntos para listas */
  padding-left: 20px; /* Sangría de listas */
  margin: 0; /* Espaciado entre listas */
}

.icon-text li {
  margin-bottom: 10px; /* Espaciado entre ítems de la lista */
  line-height: 1.6; /* Espaciado claro entre líneas */
  font-size: 14px;
  color: #555;
}

.icon-text p {
  margin: 4px 0;
  font-size: 14px;
  line-height: 1.6; /* Espaciado claro entre líneas */
  color: #555;
}
