<ion-header>
  <ion-toolbar>
    <ion-title>
      NutriMove
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat-container">
    <main class="chat-history">
      <ng-container *ngFor="let item of chatHistory">
        <div
          class="messages"
          [ngClass]="{'user-message': item.from === 'user', 'bot-message': item.from === 'bot'}"
        >
          <!-- Avatar -->
          <img
            class="chat-avatar"
            [src]="item.from === 'user' ? 'assets/icon/img/avatar.webp' : 'assets/icon/img/google-gemini-icon.webp'"
            alt="Avatar"
            loading="lazy"
          />
          <!-- Mensaje -->
          <div class="bubble">
            <span [innerHTML]="formatText(item.message)"></span>
          </div>
        </div>
      </ng-container>
      <div *ngIf="loading" class="typing-indicator">
        <img src="assets/icon/img/google-gemini-icon.webp" alt="Gemini Bot"  loading="lazy" >
        <span>Escribiendo...</span>
      </div>
    </main>
  </div>
  
  <br>
  <br>
  <br>
</ion-content>

<footer class="chat-input">
  <ion-item>
    <ion-input
      type="text"
      id="message-input"
      (keyup.enter)="sendData()"
      placeholder="Escribe un mensaje..."
      [(ngModel)]="prompt"
      [disabled]="loading"
      autocomplete="off"
    />
    <ion-button id="send-button" (click)="sendData()" [disabled]="loading">Enviar</ion-button>
  </ion-item>
</footer>
