.card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px; /* Espacio entre secciones internas */
}

ion-list {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Espacio entre los elementos del formulario */
}

ion-item {
  margin-bottom: 12px; /* Espacio entre los inputs */
}

ion-note.error-note {
  color: red;
  font-size: 12px;
  margin-top: 8px; /* Espacio entre el input y el mensaje de error */
}

.button-container ion-button {
  margin-top: 16px;
  width: 90%; /* Ajusta el ancho al 90% del contenedor */
  max-width: 300px; /* Máximo ancho */
  height: 48px; /* Altura */
  font-size: 16px; /* Tamaño del texto */
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 8px 16px;
  width: 90%;
  max-width: 300px;
  height: 48px;
  font-size: 16px;
}

.google-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 16px 0;
}

.separator span {
  font-size: 14px;
  font-weight: bold;
}

.separator hr {
  height: 1px;
  background-color: #ccc;
}
