<ion-content>
  <router-outlet></router-outlet>
</ion-content>

    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button tab="datos-personales">
          <ion-icon name="document-text"></ion-icon>
          Datos 
        </ion-tab-button>
        <ion-tab-button tab="chat">
          <ion-icon name="chatbox-ellipses"></ion-icon>
          Chat
        </ion-tab-button> 
        <ion-tab-button tab="rutina">
          <ion-icon name="barbell"></ion-icon>
          Rutina
        </ion-tab-button>     
        <ion-tab-button tab="seguimiento">
          <ion-icon name="calendar"></ion-icon>
          seguimiento
        </ion-tab-button>
        <ion-tab-button tab="estadistica">
          <ion-icon name="analytics"></ion-icon>
          Estadisticas
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>



