.chart-container {
  position: relative;
  width: 100%;
  height: auto; /* Permitir que la altura se ajuste automáticamente */
  max-height: 500px;
  max-width: 500px; /* Tamaño máximo opcional */
  margin: 0 auto; /* Centrar la gráfica */
}

canvas {
  width: 100% !important;
  height: auto !important; /* Asegura que la gráfica mantenga la proporción */
}

button-container {
  display: grid;
  justify-content: center;
  margin: 20px 0;
}