<ion-header>
  <ion-toolbar>
    <ion-title>Estadísticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="estadisticas-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Progreso Mensual</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Total de Sesiones:</strong> {{ totalSesionesMensuales }}</p>
        <p><strong>Sesiones Completadas:</strong> {{ sesionesCompletadas }}</p>
        <ion-progress-bar
          [value]="porcentajeCompletado / 100"
          color="success">
        </ion-progress-bar>
        <p><strong>Porcentaje Completado:</strong> {{ porcentajeCompletado | number:'1.0-2' }}%</p>
      </ion-card-content>
    </ion-card>

    <!-- Gráfico de Frecuencia Cardíaca Promedio por Día -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Frecuencia Cardíaca Promedio por Día</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div style="display: block; width: 100%; height: 300px;">
          <canvas id="frecuenciaCardiacaDiariaCanvas"></canvas>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- Gráfico de Frecuencia Cardíaca por Rutina -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Frecuencia Cardíaca Promedio por Rutina</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div style="display: block; width: 100%; height: 300px;">
          <canvas id="frecuenciaCardiacaRutinaCanvas"></canvas>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>



